.covid-19-statistic-session__card {
  background-color: #313238!important;
  border-radius: 0.8445rem!important;
  text-align: center;
  border: 0.2222rem solid rgba(255, 231, 38, 0.75);
}

.covid-19-statistic-session__case--title {
  font-size: 1.9324rem!important;
  font-weight: bold!important;
  color: #dedede!important;
}

.covid-19-statistic-session__case--session {
  color: #dedede!important;
}

.covid-19-statistic-session--isNewCases, .covid-19-statistic-session--isNewDeaths {
  border-radius: 0.8445rem!important;
  overflow: hidden;
}

.covid-19-statistic-session--isNewCases {
  border: 0.2222rem solid rgba(255, 65, 108, 1)!important;
  background-color: rgba(255, 65, 108, 0.2)!important;
}

.covid-19-statistic-session--isNewDeaths {
  border: 0.2222rem solid rgba(134, 67, 230, 1);
  background-color: rgba(134, 67, 230, 0.2)!important;
}